.header {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  span {
    font-size: 1.2em;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 5px;
    span {
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.footer {
  display: flex;
  span {
    font-size: 1.1em;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .footer {
    span {
      font-size: 1em;
      font-weight: 400;
    }
  }
}
