.intro-wrapper {
  margin: 2vw 0 2vw 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  > * {
    flex: 0.33;
  }
}

.intro-main {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  div {
    display: block;
    font-size: 1.1em;
    line-height: 1.5;
  }
  p {
    margin: 0 auto; // 브라우저 원인으로 margin 값 발생하여 별도 처리
  }

  .summary {
    color: #5b686c;
    h2 {
      text-align: center;
      margin: 40px 0 10px 0;
      font-size: 2.5em;
      font-weight: 200;
      color: #6da2e3;
    }
    p {
      font-size: 1.1em;
      font-weight: 200;
    }
  }
  .MuiAvatar-root {
    display: grid;
  }
}

.intro-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  div {
    display: block;
    font-size: 1.4em;
    font-size: 1.1em;
    line-height: 1.6;
  }
  p {
    margin: 10px 0 0 0;
  }

  .intro-black {
    color: #5b686c;
  }
}
